<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="keita_kawamoto">
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  {{ if eq .URL "/" }}
    <title>{{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Title }} &nbsp;-&nbsp; {{ .Site.Title }}</title>
  {{ end }}
  <!-- Twitter Card Metas -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ .Site.Params.Twitter }}">
  <meta name="twitter:creator" content="{{ .Site.Params.Twitter }}">
  <meta name="twitter:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}">
  <meta name="twitter:url" content="{{ .Permalink }}">
  <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <!-- ogp -->
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <!-- og images -->
  {{ if eq .URL "/" }}
    <meta property="og:image" content="{{ .Site.BaseURL }}/images/ogp.png">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}/images/ogp.png">
  {{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.eyecatch }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.eyecatch }}">
  {{ end }}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/contents.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Karla|Source+Code+Pro">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/github-gist.min.css">
  <link rel="apple-touch-icon-precomposed" sizes="192x192" href="/images/apple-touch-icon-192-precomposed.png">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="canonical" href="{{ .Permalink }}">
</head>
