<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <div class="container">
      <article>
        <div class="container-inner">
          <header>
            <h1>Tags</h1>
          </header>
          <ul>
            {{ $plural := .Data.Plural }}
            {{ range $key, $value := .Data.Terms }}
              <li>
                <a href="/{{ $plural }}/{{ $key | urlize }}">{{ $key }}</a>
                <span class="tag-count">（{{ len $value }}）</span>
              </li>
            {{ end }}
          </ul>
        </div>
      </article>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "analytics.html" . }}
  </body>
</html>
