a.archives {
  padding: 1em;
  display: block;
  text-align: center;
  text-decoration: none;
  transition-duration: .3s;
  width: 260px;
  margin: 20px auto;
  box-shadow: 0 2px 3px .1px rgba(177, 177, 177, .6);
  border: 2px solid #444;
  color: #444;
}

a.archives:hover {
  background-color: #f1f1f5;
}

.archive-list {
  margin-top: 50px;
}
