/* code */

code {
  font-family: "Source Code Pro", "sans-serif";
  font-size: 0.9em;
}

p code,
li code {
  padding: 1px 3px;
  margin: 0 2px;
  font-size: 0.8em;
  border-radius: 4px;
  color: #444;
  background: #e8ebef;
}

.hljs {
  border-radius: 6px;
  padding: 0 2em !important;
  margin: 2em 0;
  background-color: #29292f;
  border: 1px solid #e1e8ed;
}

/* post-footer */

.post-footer {
  font-size: 0.7em;
  margin-top: 1em;
  height: 100px;
  color: #9e9e9e;
  border-bottom: 1px solid #ededed;
}

.post-footer a {
  color: #9e9e9e;
  padding: 3px 5px;
}

.post-footer ul {
  margin: 0;
  padding: 0;
  float: left;
}

.post-footer li {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.tag-icon {
  margin-top: 5px;
  margin-right: 5px;
  float: left;
}

.tag-link {
  margin-left: 5px;
}

.day {
  float: left;
  margin-right: 20px;
}

.dot {
  font-size: 18px;
  display: inline-block;
  vertical-align: -2px;
  padding-left: 17px;
}
