/* footer */

.footer {
  max-width: 590px;
  font-size: 12px;
  margin: 50px auto 100px;
  padding: 0 15px;
}

@media screen and (max-width: 550px) {
  .footer {
      margin: 20px auto 60px;
  }
}

.footer small {
  font-size: 100%;
}

/* author */

.author {
  width: 45px;
  height: 45px;
  background-image: url(../images/author.png);
  background-size: 45px 45px;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
}

.author-name {
  font-size: 14px;
  font-weight: bold;
}

/* social */

.social li {
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
}

.social li a {
  color: #7e7e7e;
}

.social-btn div {
  display: inline-block;
  margin-right: 10px;
}

/* copyright */

.copyright {
  margin-top: 10px;
  line-height: 160%;
}
